*{
    font-family: 'Archivo', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px
}

.large_name{
    font-size: 18vh;
    border: solid .3rem black;
    display: inline;
    float:left;
}

.top_div_float{
    float:left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav_main{
    font-size: 6.5vh;
    list-style-type: none;
    line-height: 170%;
    text-align: center;
    text-decoration: none;
}

.individual_ul{
    border: solid .3rem black;
    margin-top: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    text-decoration: none;
    list-style-type: none;
}

.individual_ul a{
    text-decoration: none;
    color:black
}

.contact_box{
    border: solid .3rem black;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.contact_info_l{
    vertical-align: top;
    display: inline-block;
    font-size: 3vh;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.contact_info_r{
    vertical-align: top;
    float: right;
    font-size: 3vh;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.main_page_posts{
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: solid .3rem black;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 6vh;
}